img {
    @media screen and (max-width: 756px) {
        width: 100%;
        height: 100%;
    }
    width: 80%;
    height: 80%;
    border-radius: 15px;
}

p, h5 {
    @media screen and (min-width: 766px) and (max-width: 992px) {
        font-size: 15px;
    }
}
