.bg {
    background-size: cover;
    background: #191616 no-repeat center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.58);
}

.height {
    height: 270px;
}

.icon {
    width: 32px;
    height: 32px;
}

.logo {
    height: auto;
    width: 82px;
}

.copyright {
    font-size: 12px;
}
