<div class="d-flex justify-content-center">
    <form>
        <div id="form" class="row bg-white rounded-pill py-2 mt-5 justify-content-between">
            <div class="form-group col-md-2 pr-md-0 flex-md-fill">
                <div class="d-flex align-items-center px-1" id="offerType">
                    <input type="radio" class="btn-check hide-on-desktop-md" name="options-outlined" id="rent"
                           autocomplete="off"
                           checked>
                    <label id="rentLabel"
                           class="mobile-text hide-on-desktop-md btn-outline-light cursor-pointer text-dark d-flex align-items-center justify-content-center"
                           for="rent"
                    >
                        Închiriere
                    </label>

                    <input type="radio" class="btn-check hide-on-desktop-md" name="options-outlined" id="sale"
                           autocomplete="off">
                    <label id="saleLabel"
                           class="mobile-text hide-on-desktop-md btn-outline-light cursor-pointer text-dark d-flex align-items-center justify-content-center"
                           for="sale"
                    >
                        Vânzare
                    </label>

                    <label for="offerTypeSelect" class="hidden">Tip oferte</label>
                    <select id="offerTypeSelect"
                            class="hide-on-mobile-md form-select border-0 shadow-none text-dark pr-0">
                        <option selected>Închiriere</option>
                        <option>Vânzare</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-md-3 col-lg-4 flex-md-fill">
                <label for="location" class="hidden">Locaţie</label>
                <input type="text" class="form-control mobile-text px-4" id="location" placeholder="Locaţie">
            </div>

            <div class="form-group col-md-3">
                <label for="buildingType" class="hidden">Tip imobil</label>
                <select id="buildingType" class="form-select shadow-none text-dark mobile-text px-4">
                    <option selected disabled>Tip imobil</option>
                    <option class="font-weight-bold mobile-text">Apartament</option>
                    <option class="font-weight-bold mobile-text">Casă</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label id="submitLabel"
                       for="submit"
                       class="hidden"
                >
                    Căutare
                </label>
                <input type="submit"
                       class="form-control btn-primary font-weight-bold mobile-text"
                       id="submit"
                       value="Căutare"
                >
            </div>
        </div>
    </form>
</div>
