<section class="container-fluid px-0">
    <div class="d-flex flex-md-row flex-column-reverse">
        <div class="col-12 col-md-6">
            <div class="d-flex flex-column align-items-center">
                <div class="col-12">
                    <h5 class="proimo-blue fw-bold fs-4">Complexe rezidenţiale</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum proin id consequat diam
                        lobortis
                        justo
                        sollicitudin ornare. Sed turpis fringilla amet quis scelerisque enim. Vel accumsan facilisis eu
                        nunc
                        vitae, lobortis. Nunc consectetur imperdiet interdum nulla placerat aliquet lectus. Id interdum
                        eu scelerisque tincidunt felis. Enim blandit lorem eget dui, sed.</p>
                    <app-button text="Toate ofertele"></app-button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-end gradient">
            <img src="assets/images/balconies.png" alt="Complexe rezidenţiale">
        </div>
    </div>
</section>
