footer {
    position: relative;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.58);
    background: #191616 no-repeat center;
    background-size: cover;
}

.height {
    height: 270px;
}

.icon {
    width: 32px;
    height: 32px;
}

.logo {
    width: 82px;
    height: auto;
}

.copyright {
    font-size: 12px;
}
