<div id="carouselExampleDark" class="pt-5 carousel carousel-dark slide hide-on-mobile-md" data-ride="carousel">
    <ol class="carousel-indicators pt-5">
        <li data-target="#carouselExampleDark" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleDark" data-slide-to="1"></li>
        <li data-target="#carouselExampleDark" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner pb-5">
        <div class="carousel-item active" data-interval="10000">
            <app-team-member [people]="team.slice(0, 3)"></app-team-member>
        </div>
        <div class="carousel-item" data-interval="2000">
            <app-team-member [people]="team.slice(3, 6)"></app-team-member>
        </div>
        <div class="carousel-item">
            <app-team-member [people]="team.slice(6, 9)"></app-team-member>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<div id="mobile-scroll" class="d-flex hide-on-desktop-md mobile-scroll">
    <div
        class="offers flex-column"
        *ngFor="let person of team"
    >
        <app-team-member [people]="[person]"></app-team-member>
    </div>
</div>
