// https://startbootstrap.com/snippets/full-image-header/
header {
    background-image: url("/assets/images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.58);

    overflow: hidden;

    height: 55vh;
    @media screen and (max-device-width: 320px) and (max-device-height: 570px) {
        height: 75vh;
    }
}

.whitespace {
    margin-top: -40px;
    background: white;
    transform: matrix(1, -0.05, -0.05, -1, 0, 0);
    height: 122px;
}

.small-text {
    font-size: 18px;
    line-height: 21px;
}

.title {
    font-size: 64px;
    line-height: 75px;

    @media (max-width: 992px) {
        font-size: 55px;
    }
}
