<header>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center text-white">
                <p class="font-weight-lighter small-text hide-on-mobile-md">Descoperă cele mai bune oferte din piața
                    imobiliară</p>
                <h1 class="font-weight-bolder title hide-on-mobile-md">Lasă-ne să te ajutăm</h1>
                <app-search-bar></app-search-bar>
            </div>
        </div>
    </div>
    <div class="whitespace hide-on-mobile-md"></div>
</header>
