/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
    font-family: 'Poppins', sans-serif;
}

.hide-on-mobile {
    @media screen and (max-width: 767px) {
        display: none !important;
    }
}

.hide-on-desktop {
    @media screen and (min-width: 767px) {
        display: none !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.mobile-text {
    @media (max-width: 767px) {
        font-weight: 500;
        font-size: 18px;
    }
}

.hidden {
    display: none;
}
