<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
    <button
        class="navbar-toggler shadow-none col-3 col-lg-auto d-flex d-lg-none justify-content-start order-0"
        data-toggle="collapse"
        data-target="#content"
        aria-controls="content"
        aria-expanded="false"
        aria-label="Toggle menu items"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mr-0 col-3 col-lg-auto mr-lg-0 d-flex justify-content-center order-1 order-lg-0"
       href="#">
        <img src="assets/icons/proimo-logo.png" alt="Proimo Group Brand Logo">
    </a>

    <div class="navbar-collapse collapse order-3 order-lg-1" id="content">
        <ul class="navbar-nav mb-2 mb-lg-0 d-lg-flex justify-content-around">
            <li *ngFor="let item of menuItems"
                class="nav-item d-flex justify-content-center"
                [ngClass]="item.children?'dropdown':''"
            >
                <a *ngIf="item.type === 'ExternalLink' && !item.children"
                   class="nav-link"
                   href="{{item.link}}"
                >
                    {{item.title}}
                </a>

                <a
                    *ngIf="item.type === 'InternalLink' && !item.children"
                    class="nav-link text-center"
                    [routerLink]=item.link
                    [routerLinkActive]="['active']"
                >
                    {{item.title}}
                </a>

                <div *ngIf="item.children" class="dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        id="toggler"
                        data-toggle="dropdown"
                        role="button"
                    >
                        {{item.title}}
                        <span class="caret"></span>
                    </a>

                    <ul
                        class="dropdown-menu"
                        aria-labelledby="toggler"
                        role="menu"
                    >
                        <li
                            *ngFor="let child of item.children"
                            role="menuitem"
                        >
                            <a
                                *ngIf="child.type === 'ExternalLink'"
                                class="dropdown-item"
                                href="{{child.link}}"
                            >
                                {{child.title}}
                            </a>

                            <a
                                *ngIf="child.type === 'InternalLink'"
                                class="dropdown-item"
                                [routerLink]="child.link"
                                [routerLinkActive]="['active']"
                            >
                                {{child.title}}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-3 col-lg-auto d-flex justify-content-end order-2 order-lg-3">
        <button
            *ngIf="buttonItem"
            class="btn text-white shadow-none py-0 mobile-font-size"
            [routerLink]=buttonItem.link
            [routerLinkActive]="['active']"
        >
            {{buttonItem.title}}
        </button>
    </div>
</nav>
