img {
    width: 65px;
    height: auto;
}

.navbar-toggler-icon {
    background-image: url("/assets/icons/hamburger.svg");
}

.navbar-toggler {
    border: none;
}

.mobile-font-size {
    @media screen and (max-width: 767px) {
        font-size: 14px;
    }

    @media screen and (max-width: 360px) {
        font-size: 12px;
    }
}

.collapse {
    @media screen and (min-width: 990px) {
        width: 70%;
    }

    @media screen and (max-width: 990px) {
        width: 100vw;
        height: 100vh;
        overflow-x: visible;
    }
}

.collapse > ul {
    width: 100%;
}

.nav-link {
    @media screen and (max-width: 990px) {
        display: flex;
    }
}

a {
    @media screen and (max-width: 990px) {
        color: black !important;
    }
}
