img {
    width: 65px;
    height: auto;
}

.btn {
    background: #A81722;
    border-radius: 10px;
    width: 190px;
    height: 42px;
    outline: none;
}

.btn:hover {
    background-color: #EB5757;
}

.navbar-toggler-icon {
    background-image: url("/assets/icons/hamburger.svg");
}

.navbar-toggler {
    border: none;
}

.mobile-font-size {
    @media screen and (max-width: 990px) {
        font-size: 14px;
    }
}

.collapse {
    @media screen and (min-width: 990px) {
        width: 70%;
    }

    @media screen and (max-width: 990px) {
        width: 100vw;
        height: 100vh;
        overflow-x: visible;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.collapse > ul {
    width: 100%;
}

.nav-link {
    @media screen and (max-width: 990px) {
        display: flex;
    }
}

a {
    @media screen and (max-width: 990px) {
        color: black !important;
    }
}
